* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: #272822;
  color: white;
  height: 4rem;
  font-family: "Open Sans", sans-serif;
}

.logo {
  padding: 0.1875rem;
}

.logo img {
  width: 2.5rem;
  padding-top: 0.3125rem;
  padding-right: 0.65rem;
}

.container {
  width: 70vw;
  padding: 2rem 0;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.toolbar-item button {
  cursor: pointer;
  color: #ffe227 !important;
}
